@media screen and (min-width: 768px) and (max-width: 1023px)
{
  *{
      font-size: 80%;
  }
  #homeSection img{
      width: 300px;
      height: 300px;
  }
  #signIn{
      width: 100px;
  }
  #aboutSection img{
      width: 300px;
      height: 300px;
  }
  #aboutSection .rightPart{
      margin-top: 2rem;
  }
  .box{
      width: 350px;
      height: 350px;
  }
  #projectTopInfo{
      width: 100%;
  }
  #projectSectionHead img{
      width: 250px;
      height: 200px;
      margin-top: 0px;
  }
  .projectsContainer{
    grid-template-columns: repeat(auto-fit, minmax(180px,1fr));
  }
}
@media screen and (min-width: 360px) and (max-width: 767px)
{
    *{
        font-size: 60%;
    }
    #mainHome{
        flex-direction: column;
        align-items: center;
        flex-flow: column-reverse;
        border-bottom-right-radius: 100px;
    }
    .rightPart,.leftPart{
        width: 80%;
    }
    #mainHome img{
        width: 80%;
        height: 80%;
    }
}