*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    background: radial-gradient(rgb(66, 66, 66),rgb(32, 32, 32));
    height: 100vh;
    widows: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
.btns{
    user-select: none;
    position: relative;
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 3rem;
    margin: 2rem;
    padding: 0.7rem 1.5rem;
    border-radius: 5px;
    overflow: hidden;
}
.btns:nth-child(1){
    border: rgb(121, 255, 121) 2px solid;
    box-shadow: 0 0 10px rgb(121, 255, 121);
}
.btns:nth-child(2){
    border: rgb(255, 54, 54) 2px solid;
    box-shadow: 0 0 10px rgb(255, 54, 54);
}
span{
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(-50%,-50%);
    background-color: rgba(255, 255, 255,0.5);
    border-radius: 50%;
    width: 0;
    height: 0;
    animation: animate 0.7s linear;
}
@keyframes animate{
    100%{
        width: 600px;
        height: 600px;
    }
}
